[submodule ".vendor/LuaJIT"]
	path = .vendor/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule ".vendor/Lua"]
	path = .vendor/Lua
	url = https://github.com/lua/lua.git
[submodule "deps/tinycc"]
	path = deps/tinycc
	url = https://repo.or.cz/tinycc.git
